# Dependências
node_modules/
jspm_packages/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variáveis de Ambiente (Segurança!)
.env
.env.test
.env.local

# Build e Saída
dist/
build/
out/

# IDEs e Editores
.vscode/
.idea/
*.swp
*.swo

# Sistema Operacional
.DS_Store
Thumbs.db